@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif Caption', serif;
}

body {
    background: #0a2a43;
    min-height: 1500px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #0a2a43, transparent);
        z-index: 3;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a2a43;
        z-index: 3;
        mix-blend-mode: color;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.road {
    z-index: 2;
}

.parallax-title {
    position: relative;
    font-size: 10em;
    color: #fff;
    z-index: 1;

    @media (max-width: 1090px) {
        font-size: 6em;
    }

    @media (max-width: 740px) {
        font-size: 4em;
    }

    @media (max-width: 450px) {
        font-size: 3em;
    }
}